[submodule "literature"]
	path = literature
	url = git@gitee.com:freewind201301/literature.git
[submodule "MDPI_template"]
	path = MDPI_template
	url = https://github.com/zhaofeng-shu33/MDPI_template.git
[submodule "large_deviation_theory"]
	path = large_deviation_theory
	url = https://github.com/zhaofeng-shu33/large_deviation_theory.git
[submodule "sbm_side_info_error_rate"]
	path = sbm_side_info_error_rate
	url = git@github.com:zhaofeng-shu33/sbm_side_info_error_rate.git
[submodule "sbm_side_info"]
	path = sbm_side_info
	url = git@github.com:zhaofeng-shu33/sbm_side_info.git
